DATABASE_HOSTNAME=test
DATABASE_PORT=1234
DATABASE_NAME=fastapi
TEST_DATABASE_NAME=fastapi_test
DATABASE_USERNAME=chnangme
DATABASE_PASSWORD=chnangme
SECRET_KEY=chnangme
ALGORITHM=chnangme
ACCESS_TOKEN_EXPIRE_MINUTES=chnangme
